kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
- role: control-plane
  extraPortMappings:
  - containerPort: 80
    hostPort: 80
    listenAddress: "127.0.0.1" # Optional: defaults to "0.0.0.0"
    protocol: TCP
  - containerPort: 443
    hostPort: 8443
    listenAddress: "127.0.0.1"
    protocol: TCP
- role: worker